<button class="toggle-open-button" (click)="toggleEdit()">{{buttonText}}</button>

@if (isEditOpen) {
<form (submit)="save()" [formGroup]="form">
    <header>
        <h1>Edit Exercise</h1>
        <app-display-error [error]="unexpectedError|validationToError" />
    </header>
    <div class="con">
        <app-input class="text-input" type="text" [formControlValue]="form.controls.name" placeHolder="Exercise Name"
            [error]="name?.errors" />

        <ng-select [formControl]="form.controls.imgUrl" appearance="outline" [clearable]="false">
            @for(icon of exerciseIconsList();track icon.id) {
            <ng-option [value]="icon.id">
                <img [src]="icon.imgUrl" width="48" height="48" />
            </ng-option>}
        </ng-select>

    </div>

    <app-input-youtube [error]="youtubeUrl?.errors" (youtubeUrlEmitter)="handleVideoUrl($event)"
        [youtubeUrl]="exercise?.youtubeUrl" />

    <app-select [formControlValue]="form.controls.equipment" [options]="equipmentList" [error]="equipment?.errors" />
    <app-select [formControlValue]="form.controls.type" [options]="exerciseTypeList" [error]="type?.errors" />
    <app-select [formControlValue]="form.controls.targetMuscle" [options]="targetMuscleList"
        [error]="targetMuscle?.errors" />

    <div class="form-actions">
        <button type="button" class="toggle-open-button" (click)="toggleEdit()">Close</button>
        <button type="submit" class="toggle-open-button" [disabled]="form.invalid">Save</button>
    </div>
</form>
}