<!-- <button class="toggle-open-button" (click)="toggleEdit()">{{buttonText}}</button> -->


<form (submit)="save()" [formGroup]="form">
    <header>
        <h1>Edit Exercise</h1>
        <app-display-error [error]="unexpectedError|validationToError" />
    </header>
    <div class="con">
        <app-input class="text-input" type="text" [formControlValue]="form.controls.name" placeHolder="Exercise Name"
            [error]="name?.errors" />



    </div>

    <app-input-youtube [error]="youtubeUrl?.errors" (youtubeUrlEmitter)="handleVideoUrl($event)"
        [youtubeUrl]="exercise?.youtubeUrl" />

    <ng-select [formControl]="form.controls.muscle" appearance="outline" [clearable]="false">
        @for(muscle of exerciseMuscleList();track muscle.id) {
        <ng-option [value]="muscle.id">
            <img [src]="muscle.imgUrl" width="48" height="48" />
        </ng-option>}
    </ng-select>
    <ng-select [formControl]="form.controls.type" appearance="outline" [clearable]="false">
        @for(type of exerciseTypeList();track type.id) {
        <ng-option [value]="type.id">
            <img [src]="type.imgUrl" width="48" height="48" />
        </ng-option>}
    </ng-select>
    <ng-select [formControl]="form.controls.equipment" appearance="outline" [clearable]="false">
        @for(equipment of exerciseEquipmentList();track equipment.id) {
        <ng-option [value]="equipment.id">
            <img [src]="equipment.imgUrl" width="48" height="48" />
        </ng-option>}
    </ng-select>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
</form>
