<li class="">
    <img src="{{exercise?.imgUrl}}" alt="Exercise Image" class="exercise-image" />
    <h2>{{exercise?.name}}</h2>
    <p>{{exercise?.type}}</p>
    <p>{{exercise?.equipment}}</p>
    <p>{{exercise?.targetMuscle}}</p>
    <div class="item-actions">
        <a [routerLink]="['/exercise', exercise?.id]">
            <button>

                View
            </button>

        </a>
        <app-exercise-edit [exercise]="exercise" (itemSaved)="onItemUpdate()" />
        <button (click)="onDelete()">Delete</button>
    </div>
</li>