li {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

  height: 3rem;
  border-radius: 4px;

  transition: all 0.3s ease;

  & h2 {
    font-size: 1.25rem;
  }
  & img {
    object-fit: contain;
  }

  & ul {
    display: flex;
    gap: 0.5rem;

    & li:not(:last-child) {
      display: flex;
      &::after {
        content: "·";
        padding-left: 0.5rem;
      }
    }
  }

  & .item-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    ::ng-deep button {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      height: 2rem;
      padding-inline: 0.5rem;
      transition: all 0.3s ease;
    }
    & > *:hover {
      background-color: whitesmoke;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}
