@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./shared/input.css");
@import url("./icons/upload-icon.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface {
  border-radius: 4px !important;
}

.mat-mdc-button-base {
  border-radius: 4px !important;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  width: fit-content !important;
  max-width: 90vw !important;
  max-height: calc(100vh - 6rem) !important;
}
