<h2>{{activeData()?.programName}}</h2>
<ul class="active-program">

    @for(pe of activeData()?.exercises; track pe.id){
    <li>
        <header>
            <h3>{{pe.exercise.name}}</h3>
            <p>{{pe.exercise.muscle?.name}}</p>
            <p>{{pe.exercise.equipment?.name}}</p>
            <p>{{pe.exercise.type?.name}}</p>
            <app-youtube-player [youtubeUrl]="pe.exercise.youtubeUrl" />
        </header>
        <ul>
            @for(set of pe?.sets; track set.coreSet.id){
            <app-active-sets [set]="set" (setFinished)="saveSet($event)" />
            }
        </ul>
    </li>
    }
</ul>