<form (submit)="save()" [formGroup]="form">

  <app-mat-input [formControlInput]="form.controls.name" label="Name"
    [error]="name?.errors|validationToError"></app-mat-input>

  <app-input-youtube [error]="youtubeUrl?.errors|validationToError" [formControlInput]="form.controls.youtubeUrl" (youtubeUrlEmitter)="handleVideoUrl($event)"
    [youtubeUrl]="exercise?.youtubeUrl" />

  <app-mat-select [formControlInput]="form.controls.exerciseMuscleId" [getSelectItem]="getSelectedMuscle.bind(this)"
    [options]="exerciseMuscleList()" [error]="targetMuscle?.errors|validationToError" label="Muscle Group" alt="Muscle">
  </app-mat-select>
  <app-mat-select [formControlInput]="form.controls.exerciseTypeId" [getSelectItem]="getSelectedType.bind(this)"
    [options]="exerciseTypeList()" [error]="type?.errors|validationToError" label="Exercise Type" alt="Exercise Type">
  </app-mat-select>
  <app-mat-select [formControlInput]="form.controls.exerciseEquipmentId"
    [getSelectItem]="getSelectedEquipment.bind(this)" [options]="exerciseEquipmentList()" label="Equipment"
    alt="Equipment" [error]="equipment?.errors|validationToError">
  </app-mat-select>

  <div class="form-actions" mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>