label {
  border-radius: 4px;
  display: block;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
  & img {
    border-radius: 4px;
  }
}



:host {
  &:has(.mat-mdc-form-field-error) {
    height: 20px;
  }
}

.upload-icon {
  width: 3.5rem;

 height: 100%;
}

.error {
  color: red;
  font-size: 0.8rem;
  line-break:auto;
  max-width:3.5rem;
  text-align: center;
}