footer {
  color: var(--orange-web);
  stroke: var(--orange-web);
  fill: var(--orange-web);
  box-shadow: 0 -1px 0px rgba(255, 255, 255, 0.3);
  height: 4rem;
  padding: 0.5rem 2rem;
  
  @media (max-width: 41rem) {
    padding: 0.5rem 0.25rem;
  }
}
