footer {
  height: 4rem;
  box-shadow: 0 -1px 0px rgba(255, 255, 255, 0.3);
  padding: 0.5rem 2rem;
  color: var(--orange-web);
  stroke: var(--orange-web) !important;
  fill: var(--orange-web) !important;
}
