<app-dialog [buttonText]="buttonText" (closed)="save()">
    <form [formGroup]="form">
        <div>
            <app-input [formControlInput]="form.controls.name" placeHolder="Name" id="">
              
            </app-input>
            <app-input-img [formControlInput]="form.controls.file" [imgPreview]="imgPreview"></app-input-img>
        </div>
        <div>
            <button class="delete-button" (click)="cancel()">Cancel</button>
            <button class="crud-button" [disabled]="form.invalid" (click)="save()">Save</button>
        </div>
    </form>
</app-dialog>