div {
  width: 100%;
  height: 100%;

  & input {
    width: 100%;
    height: 100%;

    border: 2px dotted var(--black);
    padding: 0.5rem;
    border-radius: var(--border-radius);

    &:focus {
      animation: border 5.5s forwards;
    }
  }

  &:has(.error) input {
    border-color: red;
  }
}

@keyframes border {
  0% {
    border-style: dotted;
  }

  100% {
    border-style: solid;
  }
}

.error {
  color: red;
  font-size: 0.8rem;
  padding-left: .5rem;
}
