<div>
    @if(formControlInput){

    <input type="{{ type }}" [formControl]="formControlInput" placeholder="{{placeHolder}}"
        (change)="handleChange($event)" />
    }
    @else {
    <input type="{{ type }}" placeholder="{{placeHolder}}" (change)="handleChange($event)" />
    }
    <label for="{{id}}">
        <ng-content></ng-content>

    </label>
    @if(formControlInput?.errors&&formControlInput?.touched) {

    <label class="error">
        {{ formControlInput?.errors|validationToError|errorParsing }}
    </label>
    }

</div>