<app-item-list [items]="itemsSignal()">
    <ng-container content>
        <div class="table-con">
            <table mat-table [dataSource]="itemsSignal()!" class="mat-elevation-z8 index-table">
                @for (column of columnsHeaders; track column) {
                @if (column === 'actions'){
                <ng-container matColumnDef="actions" class="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let item">
                        <ng-container *ngComponentOutlet="editDialogType; inputs: {item: item}"></ng-container>

                        <button mat-raised-button color="" [swal]="{title: 'Confirmation', text: 'Are you sure you want to delete this record?',
                                showCancelButton: true
                            }" (confirm)="delete(item.id)">Delete</button>
                    </td>
                </ng-container>
                }
                @else if(column === 'imgUrl'){
                <ng-container matColumnDef="imgUrl">
                    <th mat-header-cell *matHeaderCellDef>Image</th>
                    <td mat-cell *matCellDef="let element">
                        <img [src]="element.imgUrl" alt="Icon" width="56" height="56" />
                    </td>
                </ng-container>
                }
                @else {
                <ng-container matColumnDef="{{column}}">
                    <th mat-header-cell *matHeaderCellDef>{{column}}</th>

                    <td mat-cell *matCellDef="let element">
                        @if (typeof element[column] === 'object'){
                        <img [src]="element[column].imgUrl" alt="Icon" width="56" height="56" />
                        <p>{{element[column].name}}</p>

                        } @else {
                        {{element[column]}}
                        }
                    </td>
                </ng-container>
                }
                }

                <tr mat-header-row *matHeaderRowDef="columnsHeaders"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsHeaders"></tr>
            </table>
            <mat-paginator showFirstLastButtons [length]="totalItemsSignal()" [pageSize]="pagination.recordsPerPage"
                [pageIndex]="pagination.page-1" [pageSizeOptions]="[5, 10, 25]" class="mat-elevation-z8"
                (page)="updatePagination($event)"></mat-paginator>
        </div>
    </ng-container>
</app-item-list>