<app-item-list [items]="itemsSignal()">

    <ng-container content>
        <section [ngClass]="styleClass">
            <header>
                <ul class="grid-cols">
                    @for(header of columnsHeaders; track header) {
                    @if (header === 'actions'){
                    <li class="actions">
                        <p>{{header}}</p>
                    </li>
                    } @else {

                    <li>
                        <p>{{header}}</p>
                    </li>
                    }
                    }
                </ul>
            </header>
            <ul>
                @for(item of itemsSignal();track item.id){

                <li>
                    <ul class="items-list grid-cols">
                        @for(header of columnsHeaders; track header+$index){
                        @if (header === 'actions'){
                        <li class="actions">

                            <ng-container
                                *ngComponentOutlet="editDialogType; inputs: {exerciseItem: item}"></ng-container>

                            <button [swal]="{title: 'Confirmation', text: 'Are you sure you want to delete this record?',
                                showCancelButton: true
                            }" (confirm)="delete(item.id)" class="delete-button">Delete</button>

                        </li>}

                        @else if(header === 'imgUrl'){
                        <li>

                            <img [src]="item?.imgUrl" alt="Icon" width="48" height="48" />
                        </li>

                        }
                        @else {
                        <li>
                            <p>

                                {{getItemValue(header ,item)}}
                            </p>

                        </li>

                        }
                        }

                    </ul>
                </li>
                }
            </ul>
        </section>
    </ng-container>

</app-item-list>