form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 20rem;
  border-radius: none;

  & div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.mat-mdc-form-field {
  --mdc-filled-text-field-container-height: 1rem;
}

.mat-mdc-dialog-actions{
  padding: 0;
}