form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100vh - 6rem);
  padding: 1rem;
  width: 20rem;
  overflow-y: auto;
  & .fixed-textarea {
    resize: none;
    height: 5rem;
    overflow-y: auto;
  }
}
